{
    "presets": [
        ["es2015", {"loose": true, "modules": false}],
        "stage-2",
        "react"
    ],
    "plugins": [
        "transform-decorators-legacy",
        "transform-node-env-inline"
        //"add-module-exports",
        //"transform-runtime"
    ],
    "env": [
        {
            "production": {
                "plugins": [
                    "transform-react-constant-elements"
                ]
            }
        }
    ]
}